.photoBlock {
  display: inline-block;
  width: 500px;
  height: 500px;
}

.cell_1 {
  width: 496px;
  height: 496px;
}

.cell_2h {
  width: 496px;
  height: 246px;
}

.cell_2v {
  float: left;
  width: 246px;
  height: 496px;
}

.cell_4 {
  width: 246px;
  height: 246px;
}
