.photoNav {
  position: absolute;
  top: 46%;

  border-right: 4px solid #888888;
  border-bottom: 4px solid #888888;

  cursor: pointer;
}

.photoNav:hover {
  border-color: #9f9f9f;
}

.navArrow {
  position: relative;
  overflow: hidden;

  width: 20px;
  height: 100px;
}

.leftArrow {
  left: 6%;

  width: 40px;
  height: 40px;

  transform: rotate(135deg);
  transform: translateY(135);
}

.rightArrow {
  right: 6%;

  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
}

.close {
  top: 5%;
  right: 10%;
  width: 40px;
  height: 40px;
  border: none;
  &:after {
    content: "x";
    font-size: 4em;
    color: #888888;
  }
}
